#root {
  margin: 0;
  padding: 0;
}

.card-list {
  padding: 2rem;
}

.card header {
  font-weight: bold;
}

.card img {
  height: 6rem;
}

.cancel-btn a {
  display: inline-block;
  margin: 0 auto;
}
